ion-slides,
ion-slide {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

form {
    margin-left: 200px !important;
    margin-right: 200px !important;
}

img {
    display: block;
    margin: auto;
}

ion-item {
    border-radius: 15px;
}

ion-button {
    margin-top: 10px !important;
}

ion-card {
    box-shadow: none !important;
}

h3 {
    margin-top: 1px !important;
}

.texto {
    color: #2a352f;
    font-size: small;
    text-align: justify;
    margin-left: 100px !important;
    margin-right: 100px !important;
}

a {
    color: #2a352f;
    font-size: small;
    text-decoration: none;
}

.transparente {
    position: fixed;
    bottom: 1em;
}

.animateImage {
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}